.business-start {
  padding-top: 110px;

  @include _1024 {
    padding-top: 50px;
  }

  &__title {
    max-width: 100%;
    margin: 0 auto 30px;
    text-align: center;

    span {
      color: white;
    }

    &.opportunity__title--mod {
      margin-bottom: 68px;
      background-color: red;
    }
    &--mobile-app {
      max-width: 575px;
      margin-bottom: 80px;
      @include _1024 {
        margin-bottom: 50px;
      }
    }
  }

  &__descr {
    max-width: 701px;
    text-align: center;
    margin: 0 auto 45px;

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
  }

  &__card {
    position: relative;
    width: 364px;
    background-color: #1523b7;
    min-height: 138px;
    padding: 32px 20px 25px;
    border-radius: 10px;
    color: #fff;
    z-index: 3;

    strong {
      display: block;
      @include Roboto-700;
      font-size: 15px;
      text-align: center;
    }

    span {
      display: block;
      text-align: center;
      @include Intro-400;
      font-size: 24px;
      margin-bottom: 7px;
    }

    p {
      text-align: center;
      @include Roboto-400;
      font-size: 15px;
    }
  }
}
