.focuse {
  padding-top: 95px;
  &__title {
    max-width: 832px;
    margin: 0 auto 81px;
    text-align: center;
    @include _1024 {
      margin-bottom: 50px;
    }
    @include _767 {
      margin-bottom: 30px;
    }
    span {
      color: #fff;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 38px;
    row-gap: 54px;

    @include _1200 {
      column-gap: 15px;
      row-gap: 34px;
    }
    @include _1024 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include _767 {
      grid-template-columns: repeat(1, 1fr);
    }
    &--odoo {
      @include _1156 {
        grid-template-columns: repeat(2, 1fr);
      }

      @include _767 {
        display: block;
      }
    }
  }
  &__card {
    position: relative;
    max-width: 364px;
    min-height: 154px;
    padding: 32px 63px 10px;
    background-color: #fff;
    color: #121212;
    border-radius: 10px;
    z-index: 3;

    @include _1140 {
      padding: 32px 22px 10px;
    }
    @include _1024 {
      width: 100%;
      margin: 0 auto;
    }

    &::before {
      content: url("../images/detail/pentagon-small.svg");
      position: absolute;
      width: 59px;
      height: 59px;
      left: 33px;
      top: -23px;
      text-align: center;
    }

    span {
      display: block;
      @include Intro-400;
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;

      @include _1140 {
        margin-bottom: 10px;
      }
    }

    &--odoo {
      width: 364px;
      padding: 32px 29px 10px 39px;

      &:nth-child(4),
      &:nth-child(5) {
        grid-row: 2;
        grid-column: span 2;
        margin: 0 auto;

        @include _1156 {
          grid-row: auto;
          grid-column: span 1;
        }
      }

      &:nth-child(5) {
        transform: translateX(-50%);

        @include _1156 {
          transform: translateX(0);
          grid-column: span 2;
          margin: 0 auto;
        }
      }

      @include _1200 {
        max-width: 364px;
      }

      @include _1156 {
        margin: 0 auto;
      }

      @include _767 {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
      
      @include _398 {
        max-width: 310px;
      }
    }
  }
  &__descr {
    max-width: 302px;
    font-size: 15px;
    text-align: center;
  }
}
