.focuse {
  padding-top: 95px;

  &__title {
    max-width: 750px;
    margin: 0 auto 81px;
    text-align: center;
    @include _1024 {
      margin-bottom: 50px;
    }
    @include _767 {
      margin-bottom: 30px;
    }
    span {
      color: #fff;
    }
  }

  &__inner {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 44px;
   column-gap: 30px;
  }

  &__card {
    position: relative;
    max-width: 364px;
    min-height: 154px;
    padding: 32px 63px 10px;
    background-color: #fff;
    color: #121212;
    border-radius: 10px;
    z-index: 3;

    @include _1140 {
      padding: 32px 22px 10px;
    }
    @include _1024 {
      width: 100%;
      margin: 0 auto;
    }

    &::before {
      content: url("../images/detail/pentagon-small.svg");
      position: absolute;
      width: 59px;
      height: 59px;
      left: 33px;
      top: -23px;
      text-align: center;
    }

    span {
      display: block;
      @include Intro-400;
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;

      @include _1140 {
        margin-bottom: 10px;
      }
    }
  }

  &__descr {
    max-width: 302px;
    font-size: 15px;
    text-align: center;
  }

  &--odoo {
    .focuse__inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .focuse__card {
      width: 364px;
      padding: 32px 29px 10px 39px;

      @include _398 {
        max-width: 310px;
      }
    }
  }
}
