.opportunity {
  padding-top: 95px;

  @include _1024 {
    padding-top: 50px;
  }

  &__first-title {
    text-align: center;
    max-width: 100%;
    &.opportunity__title--medium {
      max-width: 580px;
      margin: 0 auto;
    }
  }

  &__second-title {
    text-align: center;
    max-width: 100%;
    margin-top: 117px;
    @include _1024 {
      margin-top: 50px;
    }
  }
  &__sub-text {
    max-width: 710px;
    text-align: center;
    margin: 15px auto 0;
  }

  &__box {
    margin-top: 103px;
    display: flex;
    gap: 92px;

    @include _1024 {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 50px;
    }

    @include _767 {
      margin-top: 30px;
    }

    &--first {
      margin-top: 45px;
    }

    &--mod-first {
      justify-content: space-between;
      gap: 45px;
    }
  }

  &__box-text {
    max-width: 551px;

    &--reverse {
      order: 1;

      @include _1024 {
        order: -1;
      }
    }

    @include _1024 {
      max-width: 850px;
      width: 100%;
    }

    p {
      color: #fff;
      background-color: #0e0e0e;
    }

    &--single {
      max-width: 575px;
      width: 100%;
      @include _1024 {
        max-width: 850px;
      }
    }
  }

  &__title {
    margin: 55px 0 53px;
    position: relative;
    z-index: 3;
    background: #fff;
    background: linear-gradient(180deg, #1523b7 0%, #275af3 100%);
    background-clip: text;
    max-width: 473px;

    @include _1024 {
      max-width: 100%;
      text-align: center;
      margin: 20px 0;
    }

    &.info-cards--title {
      margin-top: 0;
    }
  }

  &__box-description {
    max-width: 551px;
    position: relative;
    z-index: 3;
    background: #fff;
    color: black;
    @include _1024 {
      max-width: 100%;
      margin: 0;
    }

    strong {
      display: block;
      @include Roboto-700;
      background-color: #0e0e0e;
      color: #fff;
      padding-bottom: 10px;
      font-size: 24px;
    }

    ul {
      padding-left: 20px;
      list-style: disc;
      color: #fff;
      background-color: #0e0e0e;
    }
    &--single {
      margin-top: 45px;
      @include _1024 {
        margin-top: 0;
      }
    }
  }

  &__box-img {
    position: relative;
    z-index: 3;
    padding-top: 55px;
    padding-left: 67px;
    width: 511px;
    min-height: 335px;
    @include _540 {
      height: auto;
      width: 100%;
      text-align: center;
      padding-top: 25px;
      padding-left: 25px;
      min-height: 200px;
    }

    &::before {
      content: url("../images/opportunity/rhombus.svg");
      position: absolute;
      width: 133px;
      height: 133px;
      top: 0;
      left: 0;
      text-align: center;
      z-index: -1;

      @include _540 {
        width: 150px;
        height: 150px;
        transform: scale(0.5);
        top: -40px;
        left: -40px;
      }
    }
    &--hexagon {
      &::before {
        content: url("../images/opportunity/hexagon.svg");
      }
    }
    &--octagon {
      &::before {
        content: url("../images/opportunity/octagon.svg");
      }
    }
  }

  &__img {
    display: block;
    width: 444px;
    max-width: 444px;
    min-height: 316px;
    object-fit: cover;
    border-radius: 10px;

    @include _540 {
      width: calc(444px + (444 - 300) * ((100vw - 540px) / (540 - 375)));
      min-height: calc(316px + (316 - 190) * ((100vw - 540px) / (540 - 375)));
    }
  }
}

.info-cards {
  padding-top: 25px;
  padding-bottom: 95px;
}
