.services-subhead {
  background-image: url("../images/subhead/service-subhead--gradient.png");
  background-position: 25% 75%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 73px;

  @include _1246 {
    background-position: top 75%;
  }
  
  @include _1024 {
    padding-top: 50px;
  }

  @include _767 {
    background-position: 75% 75%;
  }

  &.blog {
    z-index: 4;
   .services-subhead__title {
    color:#1523B7;
   }
   .services-subhead__description {
    color:#000;
    max-width: 500px;
   }
   padding-bottom: 50px;
  }

  &__title {
    text-align: center;
    color: #fff;
    margin: 0 auto 33px;
  }

  &__description {
    margin: 0 auto 33px;
    text-align: center;

    &--small {
      max-width: 531px;
    }

    &--medium {
      max-width: 542px;
    }

    &--large {
      max-width: 666px;
    }

    &--xlarge {
      max-width: 806px;
    }

    &--xxlarge {
      max-width: 1060px;
    }
  }

  &__btn {
    margin: 0 auto;
    width: fit-content;
    padding: 10px 30px;
  }
}
