html,
body {
  display: flex;
  background-color: #0e0e0e;
  flex-direction: column;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  height: 100%;
  @include Roboto-400;
}

.main {
  position: relative;
  padding-top: 117px;
  flex-grow: 1;
  @include _1024 {
    padding-top: 107px;
  }
  @include _1024 {
    padding-top: 97px;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, #404040 0%, #404040 100%), #404040;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  &::before {
    left: 36%;
  }
  &::after {
    right: 36%;
  }
  @include _1399 {
    &::after,
    &::before {
      width: 0;
      height: 0;
    }
  }
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.containr-midle {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.title {
  position: relative;
  z-index: 3;
  background: linear-gradient(180deg, #275af3 0%, #1523b7 100%);
  background-clip: text;
  font-size: calc(27px + (36 - 27) * ((100vw - 375px) / (1920 - 375)));
  @include Intro-400;
  max-width: 425px;
  text-transform: uppercase;
  color: transparent;
}

.container-big {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  font-size: 16px;
  @include Intro-400;
  background: linear-gradient(180deg, #275af3 0%, #1523b7 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn {
  background-color: linear-gradient(180deg, #275af3 0%, #1523b7 100%);
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  z-index: 1;
  overflow: hidden;
  padding: 12px 26px;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #071aeb;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  &:hover {
    color: #fff;
  }
  &:hover:after {
    left: 0;
    width: 100%;
  }
  &:active {
    top: 2px;
  }
  @include _540 {
    font-size: 15px;
    padding: 8px 15px;
  }
}
